<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/jacobsFavicon.png">
  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/calendar.css" rel="stylesheet">
  <!-- Custom styles for this template -->


</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/underscore.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/calendar.js"></script>
  <script type="text/javascript" src="/assets/controls.js"></script>
  <script type="text/javascript">
      var calendar = $("#calendar").calendar(
          {
            tmpl_path: "/tmpls/",
            events_source: function() { return []; }
            });
  </script>

</body>
</html>

