<!DOCTYPE html>
<html lang="en">
<head>
  <title>StudentsAtJacobs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/rails.png">
  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="carousel.css" rel="stylesheet">


</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script src="/assets/docs.min.js"></script>

</body>
</html>
